<template>
  <p class="title">{{ name }}: {{ value }}</p>
  <div class="buttons is-centered">
    <button class="button is-success" @click.prevent="incCounter()">
      <span class="icon">
        <img src="@/assets/a.svg" alt="Plus Sign" />
      </span>
    </button>
    <button class="button is-danger" @click.prevent="decCounter()">
      <span class="icon">
        <img src="@/assets/s.svg" alt="Minus Sign" />
      </span>
    </button>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
  props: {
    name: String
  },
  beforeMount() {
    this.value = this.load();
  }
})
export default class Counter extends Vue {
  name!: string;
  value = 0;

  private commit() {
    window.localStorage.setItem(
      "counter_" + this.name,
      this.value.toString(10)
    );
  }

  // noinspection JSUnusedLocalSymbols
  private load(): number {
    const value = window.localStorage.getItem("counter_" + this.name);
    if (value == null) {
      return 0;
    }
    return Number.parseInt(value, 10);
  }

  incCounter() {
    this.value++;
    this.commit();
  }

  decCounter() {
    if (this.value > 0) {
      this.value--;
    }
    this.commit();
  }
}
</script>

<style scoped></style>
