<template>
  <div>
    <div class="container">
      <h1 class="title">{{ msg }}</h1>
      <div class="columns is-multiline">
        <div
          v-for="n in counters"
          v-bind:key="n"
          class="column box is-one-fifth-desktop is-full-mobile is-half-tablet col-h"
        >
          <span class="icon del">
            <a @click="deleteCounter(n)">X</a>
          </span>
          <counter :name="n" />
        </div>
      </div>
    </div>
  </div>
  <div class="addCat">
    <div class="form">
      <div class="field">
        <label class="label" for="new-c">New Counter</label>
        <div class="control">
          <input
            type="text"
            class="input is-primary"
            id="new-c"
            placeholder="Rofl Rolf"
            v-model="newCounterName"
            @change="counterCheck"
          />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-primary" @click.prevent="onNewCounterClick">
            Add
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import Counter from "@/components/Counter.vue";

@Options({
  components: { Counter },
  props: {
    msg: String
  },
  beforeMount() {
    let data = window.localStorage.getItem("counters");
    if (data == null) {
      data = "[]";
    }
    this.counters = JSON.parse(data);
    if (typeof this.counters != typeof []) {
      throw "Invalid data in store";
    }
  }
})
export default class Main extends Vue {
  msg!: string;
  counters: string[] = [];

  newCounterName = "";

  addCounter(name: string) {
    this.counters.push(name);
    window.localStorage.setItem("counters", JSON.stringify(this.counters));
  }
  deleteCounter(name: string) {
    this.counters = this.counters.filter(value => value != name);
    window.localStorage.setItem("counters", JSON.stringify(this.counters));
    window.localStorage.removeItem("counter_" + name);
  }

  onNewCounterClick() {
    if (
      this.newCounterName.length > 0 &&
      !this.counters.find(v => v == this.newCounterName)
    ) {
      this.addCounter(this.newCounterName);
      this.newCounterName = "";
    }
  }

  counterCheck() {
    if (this.newCounterName.length > 10) {
      this.newCounterName = this.newCounterName.substr(0, 10);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.addCat {
  position: absolute;
  bottom: 16px;
  right: 16px;
  background-color: lightgray;
  border-radius: 2px;
  margin-bottom: 4px;
  margin-right: 4px;
  padding: 5px;
}
.col-h {
  height: 100%;
}
.del {
  border-radius: 16px;
  background-color: rgba(211, 211, 211, 127);
}
.del > a {
  color: black;
}
</style>
